body {
  margin: 0;
  padding: 15px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  height: auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-inline: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s;
  padding: 12px;
  border: 3px solid black;
  border-radius: 50%;
}

.navbar a:hover {
  transition: 0.5s;
  border-bottom: 3px solid white;
  border-radius: 55%;
}


.main-img {
  display: flex;
  width: 50px; 
  margin-top: 90px ;
  height: 50px;  
  left: 40%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.social-links a {
  color: white;
  font-size: 1.5rem; 
  transition: 0.4s ease-in;
}

.social-links a img {
  width: 30px; 
  height: 30px; 
}
.social-links a:hover {
  color: black;
  transition: 0.4s ease-in;
}
