<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Predictor</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <main>
      <marquee behavior="scroll" direction="left" scrollamount="5">
        <h1>Fake or True News Classifier</h1>
      </marquee>

      <form method="POST" action="/predict">
        <textarea
          required
          name="news_article"
          rows="10"
          cols="90"
          placeholder="Enter the news article text here..."></textarea
        ><br /><br />
        <input type="submit" class="submit" value="Predict" />
      </form>

      <!-- title -->
      <div class="predict-title">
        {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
        {% endif %}
      </div>        
    </main>
  </body>
</html>
